<!-- <div class="block-center mt-xl wd-xl"> -->
<!-- START panel-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
        Verifikasi Klaim Voucher.
      </div>
      <div class="panel-body">
        <%= form_for(@lucky_draw, {:class => "form-horizontal"}) do |f| %>
        <fieldset>
          <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">Voucher Royal:</label>
            <div class="col-sm-3">
              <%= f.text_field :voucher_royal, class: "form-control", required: "required", readonly: f.object.persisted? %>
            </div>
            <label class="col-sm-2 control-label">Serial:</label>
            <div class="col-sm-4">
              <%= f.text_field :serial, class: "form-control", required: "required", readonly: f.object.persisted? %>
            </div>
          </div>
        </fieldset>
        
        <% if f.object.persisted? %>
          <fieldset>
            <div class="form-group has-feedback">
              <label class="col-sm-2 control-label">Nama Barang:</label>
              <div class="col-sm-3">
                <%= f.text_area :nama_barang, class: "form-control", required: "required", readonly: true %>
              </div>
              <label class="col-sm-2 control-label">Kode Barang:</label>
              <div id="registration_zip_code" class="col-sm-4">
                <%= f.text_field :kode_barang, class: "form-control", required: "required", readonly: true %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <fieldset>
          <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">Nama:</label>
            <div class="col-sm-3">
              <%= f.text_field :nama, class: "form-control", required: "required", readonly: f.object.persisted? %>
            </div>
            <label class="col-sm-2 control-label">Email:</label>
            <div id="registration_zip_code" class="col-sm-4">
              <%= f.text_field :email, class: "form-control", onkeydown: "validate(this.value)", required: "required", readonly: f.object.persisted? %>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <div class="form-group has-feedback">
            <label class="col-sm-2 control-label">Nilai Voucher:</label>
            <div class="col-sm-3">
              <%= f.text_field :nilai_voucher, class: "form-control", required: "required", readonly: f.object.persisted? %>
            </div>
          </div>
          <div class="form-group has-feedback">
              <label class="col-sm-2 control-label">Sudah terverifikasi?:</label>
              <div class="col-sm-3">
                <%= f.check_box :verifikasi %>
              </div>
            </div>
        </fieldset>
        
        <% unless f.object.persisted? %>    
          <fieldset>
            <div class="custom-file has-feedback">
              <label class="col-sm-2 control-label">Upload Faktur:</label>
              <div class="col-sm-3">
                <%= f.file_field :faktur, class: "custom-file-input", required: "required" %>
              </div>
            </div>
          </fieldset>
          
          <fieldset>
            <div class="custom-file has-feedback">
              <label class="col-sm-2 control-label">Upload Barcode:</label>
              <div class="col-sm-3">
                <%= f.file_field :serial_img, class: "custom-file-input", required: "required" %>
              </div>
            </div>
          </fieldset>
          
          <fieldset>
            <div class="custom-file has-feedback">
              <label class="col-sm-2 control-label">Upload KTP:</label>
              <div class="col-sm-4">
                <%= f.file_field :id_img, class: "custom-file-input", required: "required" %>
              </div>
            </div>
          </fieldset>
        <% end %>
        
        <% if f.object.persisted? %>
          <fieldset>
            <div class="form-group has-feedback">
              <label class="col-sm-2 control-label">Nilai Voucher Traveloka:</label>
              <div class="col-sm-3">
                <%= f.text_field :nilai_voucher_traveloka, class: "form-control" %>
              </div>
            </div>
            
            <div class="form-group has-feedback">
              <label class="col-sm-2 control-label">Sudah kirim email?:</label>
              <div class="col-sm-3">
                <%= f.check_box :terkirim %>
              </div>
            </div>
          </fieldset>
          
          <fieldset>
            <div class="form-group has-feedback">
              <div class="col-sm-3">
                <%= image_tag(@lucky_draw.faktur.thumb.url) %>
              </div>
            </div>  
            <div class="form-group has-feedback">
              <div class="col-sm-3">
                <%= image_tag @lucky_draw.serial_img_url%>
              </div>
            </div>
            <div class="form-group has-feedback">
              <div class="col-sm-3">
                <%= image_tag @lucky_draw.id_img_url %>
              </div>
            </div>  
          </fieldset>
        <% end  %>
        
        <button type="submit" class="btn btn-block btn-primary mt-lg">
          VERIFY
        </button>
        <% if @lucky_draw.errors.any? %>
          <div id="error_explanation">
            <h2>Data tidak tersimpan, karena:</h2>
          
            <ul>
              <% @lucky_draw.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END panel-->
<!-- </div> -->

<script>
var ev = /^([_a-zA-Z0-9-]+)(\.[_a-zA-Z0-9-]+)*@([a-zA-Z0-9-]+\.)+([a-zA-Z]{2,3})$/;
var x = document.getElementById("check");
function validate(email){
    if(!ev.test(email))
        {
            x.innerHTML = "Not a valid email";
            x.style.color = "red"
        }
    else
        {
            x.innerHTML = "Looks good!";
            x.style.color = "green"
        }
    }
</script>