<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
      <table>
        <tr>
          <td class="title">VOUCHER GETAWAY</td>

          <td> ID #: <b><%= @lucky_draw.id %></b>
          <br>
          Created: <b><%= @lucky_draw.created_at.strftime('%d/%m/%Y') %></b>
          <br>
          Verifikasi: <b><%= @lucky_draw.verifikasi? ? 'Sudah' : 'Belum' %></b>
          <br>
          Email Voucher: <b><%= @lucky_draw.terkirim? ? 'Sudah' : 'Belum' %></b></span></td>
        </tr>
      </table></td>
    </tr>

    <tr class="information">
      <td colspan="4">
      <table>
        <tr>
          Nama Pemenang: <b><%= @lucky_draw.nama.upcase %></b>
          <br>
          Email Pemenang: <%= @lucky_draw.email %>
        </tr>
      </table></td>
    </tr>
    <tr><td></td></tr>
    <tr class="heading">
      <td>Item</td>
      <td class="right">Voucher Code</td>
      <td class="right">Voucher</td>
    </tr>

    <tr class="item">
      <td> <%= @lucky_draw.kode_barang %>
      <br>
      <small><%= @lucky_draw.nama_barang %></small></td>

      <td class="right"> <%= currency(@lucky_draw.voucher_traveloka) %> </td>

      <td class="right"> <%= @lucky_draw.nilai_voucher_traveloka %> </td>
    </tr>
    
    <tr><td></td></tr>
    <tr>
      <td> <%= wicked_pdf_image_tag @lucky_draw.faktur_url, size: "260x180" %></td>

      <td> <%= wicked_pdf_image_tag @lucky_draw.serial_img_url, size: "260x180" %> </td>

      <td> <%= wicked_pdf_image_tag @lucky_draw.id_img_url, size: "260x180" %> </td>
    </tr>
    
    <tr><td colspan="2" height="5">&nbsp;</td></tr>
    <tr><td colspan="2" height="5">&nbsp;</td></tr>
    <tr><td>Mengetahui</td></tr>
    <tr><td colspan="2" height="5">&nbsp;</td></tr>
    <tr><td colspan="2" height="5">&nbsp;</td></tr>
    <tr><td colspan="2" height="5">&nbsp;</td></tr>
    <tr><td>GM SALES</td></tr>

  </table>
</div>

