<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Ruby on Rails">
    <meta name="keywords" content="">
    <title>Foam Warranty - Registration</title>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag 'base' %>
    <!-- =============== VIEW VENDOR SCRIPTS ===============-->
    <%= javascript_include_tag params[:controller] %>
    <!-- =============== APP SCRIPTS ===============-->
    <%= javascript_include_tag 'application' %>

    <%= Gon::Base.render_data(init: true) %>
    <!-- =============== VENDOR STYLES ===============-->
    <%= stylesheet_link_tag 'base' %>
    <!-- =============== VIEW VENDOR STYLES ===============-->
    <%= stylesheet_link_tag params[:controller] %>
    <!-- =============== APP STYLES ===============-->
    <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <!-- top navbar-->
      <!-- sidebar-->
      <!-- offsidebar-->
      <!-- Main section-->
      <!-- Page content-->
      <section>
        <!-- Page content-->
        <div class="content-wrapper">

          <%= flash_messages %>
          <%= yield %>
        </div>
      </section>
      <!-- Page footer-->
      <footer>
        <%= render partial: "layouts/partials/footer" %>
      </footer>
    </div>

    <%= yield :body_area %>

  </body>

</html>